.ContenedorAtributos{
    display: flex;
}
.ContenedorAtributo{

}

.textoSubTitle{
    font-size: 8px;
    font-weight: 300;
}

.TituloAtributos{
    
}

.atributo{
    display: flex;
}

.nombreAtributo{
    width: 40%;
}

.valorAtributo{
    width: auto;
}